<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>/now</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,111,500,-37,126,525,79,-203,738,514,712&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">    
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
  <body>
    <main>
      <h1><a href="/">jason chee</a></h1>
      <h2 class="roboto-flex">now</h2>
      {{body}}      
    </main>
  </body>
</html>
